<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <p *ngIf="!showTable" class="alert alert-warning text-center">data is empty</p>
          <table class="table align-middle table-nowrap table-hover">
            <thead class="table-light">
              <tr>
                <th scope="col" style="width: 70px">#</th>
                <th scope="col">
                  {{ "USERlISTTABLE.COL1" | translate }}
                </th>
                <th scope="col">
                  {{ "USERlISTTABLE.COL2" | translate }}
                </th>
                <th scope="col">
                  {{ "USERlISTTABLE.COL3" | translate }}
                </th>
                <th scope="col">
                 {{ "USERlISTTABLE.COL8" | translate }}
                </th>
                <th scope="col">
                  {{ "USERlISTTABLE.COL4" | translate }}
                </th>
                <th scope="col">
                  {{ "USERlISTTABLE.COL5" | translate }}
                </th>
                <th scope="col">
                  {{ "USERlISTTABLE.COL6" | translate }}
                </th>
                <th scope="col">
                  {{ "USERlISTTABLE.COL7" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersList | paginate: { itemsPerPage: numberRows, currentPage: currentPage }">
                <td>
                  <div class="avatar-xs">
                    <span class="avatar-title rounded-circle">
                      <img [src]="" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <h5 class="font-size-14 mb-1">
                    <a href="javascript: void(0);" class="text-dark">{{
                      user.name
                    }}</a>
                  </h5>
                  <p
                    class="text-muted mb-0 text-truncate"
                    style="max-width: 150px"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="  {{ user.jobTitle }}"
                  >
                    {{ user.jobTitle }}
                  </p>
                </td>
                <td>{{ user.email }}</td>
                <td>
                  {{ user.mobileNumber }}
                </td>
                <td>               <p
                  class="text-muted mb-0 text-truncate"
                  style="max-width: 150px"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="  {{ user.rejectionRiskComment }}"
                >
                  {{ user.rejectionRiskComment }}
                </p>


                </td>
                <td>{{ user.nationalId }}</td>
                <td>{{ user.age }}</td>
                <td
                  class="text-truncate"
                  style="max-width: 150px"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="  {{ user.homeAddress }}"
                >
                  {{ user.homeAddress }}
                </td>
                <td>
                  <ul class="list-inline font-size-20 contact-links mb-0">
                    <!-- <li class="list-inline-item px-2">
                      <a href="" ngbTooltip="Message"
                        ><i class="bx bx-message-square-dots"></i
                      ></a>
                    </li> -->
                    <li class="list-inline-item px-2">
                      <a
                        class="action-icon text-secondary"
                        routerLink="user-item/{{ user.mobileNumber }}"
                        ngbTooltip="Profile"
                        ><i class="mdi mdi-eye font-size-18"></i
                      ></a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="float-end test">
            <pagination-controls class="my-pagination" (pageChange)="currentPage = $event" previousLabel="" nextLabel=""></pagination-controls>
         </div>
      </div>
    </div>
  </div>
</div>

