<div class="container-fluid">
<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title mb-4">System Configuration</h4>

              <form [formGroup]="systemCoreConfiguration" (ngSubmit)="saveSystemCoreConfiguration()">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="mb-3 position-relative">
                              <label for="formrow-minmumAge">Age Min</label>
                              <input autocomplete="off" formControlName="minmumAge" (keypress)="validateNo($event)" maxlength="2" [ngClass]="{'is-invalid': systemCoreConfiguration.get('minmumAge')?.invalid && systemCoreConfiguration.get('minmumAge')?.touched}" type="text" class="form-control" id="formrow-minmumAge">
                               <div  *ngIf="systemCoreConfiguration.get('minmumAge')?.invalid && systemCoreConfiguration.get('minmumAge')?.touched"  class="invalid-feedback">
                             <span  *ngIf="systemCoreConfiguration.get('minmumAge')?.errors?.['required']"  >This value is required.</span>
                             <span  *ngIf="systemCoreConfiguration.get('minmumAge')?.errors?.['max'] ||systemCoreConfiguration.get('minmumAge')?.errors?.['min']">
                              You should set value between 18 to 22 year .</span>
                          </div>
                         </div>

                      </div>
                      <div class="col-lg-6">
                        <div class="mb-3 position-relative">
                            <label for="formrow-maxmumAge">Age Max</label>
                            <input autocomplete="off" maxlength="2" (keypress)="validateNo($event)" [ngClass]="{'is-invalid': systemCoreConfiguration.get('maxmumAge')?.invalid && systemCoreConfiguration.get('maxmumAge')?.touched}" formControlName="maxmumAge" type="text" class="form-control" id="formrow-maxmumAge">
                            <div *ngIf="systemCoreConfiguration.get('maxmumAge')?.invalid"  class="invalid-feedback">
                              <span *ngIf="systemCoreConfiguration.get('maxmumAge')?.errors?.['required']"  >This value is required.</span>
                              <span  *ngIf="systemCoreConfiguration.get('maxmumAge')?.errors?.['max'] ||systemCoreConfiguration.get('maxmumAge')?.errors?.['min']">
                              You should set value between 50 to 70 year .
                              </span>
                           </div>
                          </div>
                    </div>
                   </div>
<div class="row">
  <div class="col-lg-6">
    <div class="mb-3 position-relative">
        <label for="formrow-maxmumIncome">Min Income</label>
        <input maxlength="8" autocomplete="off"   (keypress)="validateNo($event)" type="text" [ngClass]="{'is-invalid': systemCoreConfiguration.get('maxmumIncome')?.invalid && systemCoreConfiguration.get('maxmumIncome')?.touched}" formControlName="maxmumIncome" class="form-control" id="formrow-maxmumIncome">
        <div *ngIf="systemCoreConfiguration.get('maxmumIncome')?.invalid && systemCoreConfiguration.get('maxmumIncome')?.touched"  class="invalid-feedback">
          <span     >The Min Income is required.</span>

       </div>
      </div>
</div>
<div class="col-lg-6">
  <div class="mb-3 position-relative">
      <label for="formrow-maxmumIncome">Max Income</label>
      <input maxlength="8" autocomplete="off"   (keypress)="validateNo($event)" type="text" [ngClass]="{'is-invalid': systemCoreConfiguration.get('maxmumIncome')?.invalid && systemCoreConfiguration.get('maxmumIncome')?.touched}" formControlName="maxmumIncome" class="form-control" id="formrow-maxmumIncome">
      <div *ngIf="systemCoreConfiguration.get('maxmumIncome')?.invalid && systemCoreConfiguration.get('maxmumIncome')?.touched"  class="invalid-feedback">
        <span     >The Max Income is required.</span>

     </div>
    </div>
</div>
</div>


                      <button  [disabled]="systemCoreConfiguration.invalid"  type="submit" class="btn btn-primary w-md">Save</button>

              </form>
          </div>
      </div>
  </div>

</div></div>


