.active{
    background-color: #3c4459;
    padding-top: 17px !important;
  }

.sun-menu{
    padding: 0rem .4rem;
}

.sun-menu li a,
.sun-menu li a i{
    font-size: 11px !important; 
}

#side-menu li a.sub-active{
    background-color: #48526b;
   // color: #48526b  !important;
}